<div class="center-parent">
  <div class="center-body">
    <%= image_tag('temp-logo', :class => 'coming-soon-image') %>
    <div class="coming-soon-text">
      <h1>We are busy creating something great! Stay tuned!</h1>
      <h3>Please direct all inquires, comments, or questions to <a>info@firstgensolutions.net</a>.</h3>
    </div>
  </div>
</div>